<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="all" title="Default" href="/default/style.css">
    <link rel="alternate stylesheet" type="text/css" media="all" title="Paper White" href="/default/print.css">
    <link rel="stylesheet" type="text/css" href="/default/mandoc.css" media="all">
    <link rel="stylesheet" type="text/css" href="/default/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="/default/jquery-ui-1.12.0-custom.min.css">
    <link rel="stylesheet" type="text/css" href="/default/jquery.tooltip.css">
    <link rel="stylesheet" type="text/css" href="/default/jquery.tablesorter.css">
    <link rel="stylesheet" type="text/css" href="/default/searchable-option-list-2.0.3.min.css">
    <link rel="search" href="/static/opensearch" type="application/opensearchdescription+xml"
          title="OpenGrok Search for current project(s)">
    <script type="text/javascript" th:inline="javascript">/* <![CDATA[ */
    window.contextPath = [[${contextPath}]];
    document.xrefPath = '/src/xref';
    document.pageReady = [];
    document.domReady = [];
    /* ]]> */
    </script>
    <title>HelloWorld.java - OpenGrok cross reference for /spring_dg/src/main/java/geym/dg/ch6/HelloWorld.java</title>
</head>
<body style="">
<div id="page">
    <div id="content" tabindex="1" style="outline: none;">
        <div id="src" data-navigate-window-enabled="false">
            <pre th:utext="${file}">
            </pre>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.12.0-custom.min.js"></script>
<script type="text/javascript" src="/js/jquery-tablesorter-2.26.6.min.js"></script>
<script type="text/javascript" src="/js/tablesorter-parsers-0.0.1.js"></script>
<script type="text/javascript" src="/js/searchable-option-list-2.0.5.min.js"></script>
<script type="text/javascript" src="/js/utils-0.0.20.js"></script>
</body>
</html>